
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    <p>Введите свое имя </p>
    <input type="text" name="login" />
    <p>Введите пароль :</p>
    <input type="password" name="password" />
    <p>Введите номер телефона </p>
    <input type="text" name="phoneNumber" />
    <input type="submit" value="Зарегиться" />
}

<button class="btn btn-primary">@Html.ActionLink("Войти", "Auth")</button>