
@{
    ViewBag.Title = "AllPosts";
    var post = ViewBag.News;
}

<h2>AllPosts</h2>

@foreach (var item in post)
{
    <div class="container">
        <div class="img-responsive">
            <img src="@item.ImgPath"/>
        </div>
        <div class="content">
            <h2>@item.Title</h2>
            <p>@item.News</p>
            <p>@item.CreationDate</p>
        </div>
    </div>
}