
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

<form>
    <input type="text" id="title" placeholder="Enter title" />
    <input type="text" id="path" placeholder="Enter path image" />
    <textarea id="text" placeholder="Enter news"></textarea>
    <button id="send">Send</button>
</form>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/script.js"></script>